<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
        
      <div class="col-lg-8 col-lg-offset-2">              
              
        <p> Hi! I am a data analyst with strong organizational and analytical skills.
        <br><br> 
        I am deeply interested in the multifaceted ways data can be used to optimize decision making.
        <br><br>
        I am a very curious and meticulous person, and I delight in finding simple solutions to complex problems. </p>
      <br>
          
      </div>
      
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" download="" class="btn btn-success btn-lg">
          <i class="fa fa-download"></i> Resume
        </a>
      </div>
      
            <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" download="" class="btn btn-success btn-lg">
          <i class="fa fa-download"></i> Portfolio summary
        </a>
      </div>
      
    </div>
  </div>
</section>
