<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
        
      <div class="col-lg-8 col-lg-offset-2">              
              
        <p> I am a data analyst with strong organizational and analytical skills.
        <br><br>
         During a short stint at an inventory company, I discovered how critical data can be in helping businesses optimize their processes and maximize their sales.
         <br><br>
         After deciding to pursue a career in data analytics, I have become more deeply interested in the multifaceted ways data can be used to optimize decision making.
         <br><br> 
         I am a very curious and meticulous person, and I enjoy finding simple solutions to complex problems. </p>
         <br>
          
      </div>
      
       <div class="col-lg-4 col-lg-offset-2 text-center">
        <a href="https://drive.google.com/file/d/1kRhDEa_ssZeEyecMO7Hy6ah9DQ_PGg7j/view?usp=sharing" class="btn btn-success btn-lg">
          <i class="fa fa-download"></i> Resume
        </a>
      </div>
      
            <div class="col-lg-4 text-center">
        <a href="https://drive.google.com/file/d/1OWS6zq544eAhn-5H76oPGh8l7NeyXhww/view?usp=share_link" class="btn btn-success btn-lg">
          <i class="fa fa-download"></i> Portfolio
        </a>
      </div>
      
    </div>
  </div>
</section>
